.footer {
  display: flex;
  height: 15vh;
  width: 80vw;
  color: #fff;
  background-color: #333;
  margin: auto;
}

p {
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.bibi {
  opacity: 20%;
}
